<%- include ("partials/header.ejs") %>

<h1>Blog Posts</h1>
<ul class="blog-list">
  <br>
  <% posts.forEach(post => { %>
    <li>
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>
    </li>
  <% }); %>
</ul>
<button class="feedback-input-button"><a href="/new">Create a New Post</a></button>

<form action="/delete" method="POST">
  <button id="button-last" class="feedback-input-button" type="delete" value="DELETE">Delete Last Post</button>
</form>


<%- include ("partials/footer.ejs") %>
